body {
     /*text-align:center;*/
     background-image:url('http://3.bp.blogspot.com/-ttEXP_ZUyrs/TVWDzzUHunI/AAAAAAAABpo/mygYeRjr-0U/s1600/Survey.jpg');
     background-size: 25%;
     background-repeat: no-repeat;
     background-position: center;
     min-height: 500px;

}

#wrapper {

        text-align:left;*/
}